body {
    margin: 0px;
    padding: 0px;
    background: #18191a;
    font-family: Segoe UI;
}
nav {
    background: rgb(49, 49, 49);
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 20px;
    border-bottom: 1px solid #4e4e4e;
}
nav img {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    align-items: center;
    justify-content: start;
}

#site-icon {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 10px;
    left: 0%;
}

#site-icon input {
    height: 40px;
    width: 260px;
    border-radius: 20px;
    background: rgb(77, 77, 77);
    color: white;
    outline: none;
    padding: 0px 10px;
    border: none;
}

#nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-icons {
    margin: 0px;
    padding: 15px 40px;
    font-size: 1.7em;
    color: rgb(172, 172, 172);
}

.active {
    color: rgb(35,116,225);
    border-bottom: 3px solid rgb(35,116,225);
}

.right-nav-icons {
    margin: 0px;
    display: inline-flex;
    padding: 10px;
    font-size: 1.3em;
    color: rgb(172, 172, 172);
    background: rgb(65, 65, 65);
    border-radius: 50px;
    height: 20px;
    width: 20px;
}

.right-nav-icons img, 
.what-on-your-mind img, 
.post-header img {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    align-items: center;
}

div {
    padding: 0px;
    margin: 0px;
}
.navbar {
    width: 20%;
    display: flex;
    flex-direction: column;
    background: #18191a;
    padding: 15px 0px;
    font-size: 15px;
    line-height: 20px;
    position: sticky;
    justify-content: start;
    align-items: start;
    align-content: start;
}

.navbar-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #18191a;
    padding: 0px;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #4e4e4e;
}

.navbar img, .right-side-bar img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    opacity: 1.0;
}

.navbar-link {
    display: inline-flex;
    color: #b0b3b8;
    height: 40px;
    justify-content: start;
    align-items: center;
    background: #18191a;
    text-align: start;
    align-content: center;
    margin: 0px;
    gap: 10px;
    border-radius: 10px;
    font-size: 15px;
    padding: 2px 10px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.navbar-link:hover, 
.ads:hover, 
.content-header-icon:hover, 
.nav-icons:hover {
    background: #373a3b;
    border-radius: 10px;
}

.right-side-bar {
    width: 20%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 20px;
    position: static;
    background: #18191a;
    justify-content: center;
    padding: 10px;
    margin: 0px;
}

.navbar-link a, .ads a{
    width: 100%;
    display: flex;
    gap: 10px;
    align-content: start;
    height: 100%;
    text-decoration: none;
    color: #e4e6eb;
    align-items: center;
    opacity: 1.0;
    font-size: 14px;
    left: 0%;
    padding: 0px;
    margin: 0px;
}

.more {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: rgb(65, 65, 65);
    text-align: center;
    padding: 5px;
    display: flex;
    margin: 0px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.sponsored {
    display: block;
    color: white;
    justify-content: start;
    align-items: center;
    background: #18191a;
    text-align: start;
    align-content: center;
    margin: 0px;
    gap: 10px;
    font-size: 15px;
    padding: 10px 0px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #4e4e4e;
}

.ads {
    display: inline-flex;
    color: white;
    height: 80px;
    justify-content: start;
    align-items: center;
    background: #18191a;
    text-align: start;
    align-content: center;
    margin: 0px;
    gap: 20px;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    width: 95%;
}

.ads img {
    height: 80px;
    width: 28%;
    border-radius: 10px;
}

.content {
    width: 38%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    border-radius: 10px;
    margin-top: 25px;
    color: #b0b3b8;
    padding: 0px;
}

.stories-section{
    width: 100%;
    border-radius: 10px;
    background: #2a2c2e;
    margin: 0px;
}
.content-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95.5%;
    height: 60px;
    margin: 0px;
    border-bottom: 1px solid #4e4e4e;
    padding: 0px 10px;
}

.content-header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
    margin: 0px;
}

.content-nav-icons {
    display: flex;
    margin: 0px;
    padding: 0px 5px;
    font-size: 1.9em;
    justify-content: center;
    align-items: center;
}

.stories {
    display: flex;
    height: 240px;
    width: 94%;
    padding: 2% 3%;
    justify-content: center;
    margin: 0px;
}

.stories-cards {
    width: 100%;
    display: grid;
    margin: 0px 5px;
    padding: 0px;
    background: #5c5c5c;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    text-align: center;
    grid-template: repeat(8, 30px) / repeat(3, 37px);
}

.user-stories-cards {
    width: 100%;
    display: grid;
    margin: 0px 5px;
    padding: 0px;
    background: #5c5c5c;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    text-align: start;
    font-weight: 500;
    grid-template: repeat(8, 30px) / repeat(3, 37px);
}

.stories-cards img{
    height: 165px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 10px 10px 0px 0px;
    grid-area: 1 / 1 / 5 / 4;
    object-fit: cover;
}

.user-stories-cards img{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    object-fit: cover;
    grid-area: 1 / 1 / 9 / 4;
}

.stories-cards i {
    margin: 0px;
    display: inline-flex;
    padding: 5px;
    font-size: 1.3em;
    color: rgb(172, 172, 172);
    border-radius: 50px;
    height: 20px;
    width: 20px;
    background: rgb(35,116,225);
    grid-area: 6 / 2 / 6 / 3;
    border: 3px solid rgb(61, 61, 61);
    z-index: 10;
}

.stories h4 {
    width: 100%;
    grid-area: 7 / 1 / 8 / 4;
}

.user-stories{
    grid-area: 2 / 2 / 3 / 3;
    height: 40px;
    width: 40px;
    border: 3px solid rgb(35,116,225);
    border-radius: 50px;
}

.what-on-your-mind{
    display: flex;
    flex-direction: column;
    width: 96%;
    border-radius: 10px;
    background: #2a2c2e;
    margin: 10px 0px;
    padding: 2%;
}

.input-pics{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #4e4e4e;
    padding: 10px 5px;
}

.input-pics input{
    height: 40px;
    width: 99%;
    border-radius: 20px;
    background: rgb(77, 77, 77);
    outline: none;
    padding: 0px 20px;
    border: none;
    margin: 0px;
}

::placeholder {
    color: rgb(211, 211, 211);
    opacity: 1; 
    font-size: 1.3em;
}

.what-on-your-mind-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95.5%;
    height: 50px;
    margin: 0px;
    padding: 5px;
}

/*Post Section*/

.post{
    display: flex;
    flex-direction: column;
    width: 96%;
    border-radius: 10px;
    background: #2a2c2e;
    margin: 10px 0px;
    padding: 2%;
    font-weight: 100;
}

.post-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-info{
    display: flex;
    flex-direction: row;
}

.name-lastseen{
    font-weight: 100;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.post-icon{
    display: flex;
    flex-direction: row;
}